.mainBox{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 50px 0px;
    background-color: #8269A8;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border: 1px solid black;
}

.text{
    background-color: chartreuse;
}

.image{
    width: 50%;
    min-height: 90%;
    background-image: url("https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 690px) {
    .image {
        min-height: 80%;
    }
}
