.aboutBox {
    display: flex;
    justify-content: center;
    background-color: teal;
    padding: 100px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px 0;
    width: 80%;
    border: 1px solid black;
}
.containerTitle{
    margin: 0 auto;
    background-color: chartreuse;
}

.containerSkills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-self: center;*/
}