.portfolioBox{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #C9AFC5;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 80%;
    border: 1px solid black;
}

.title{
    background-color: chartreuse;
    margin: 0 auto;
}

.project{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

