.footerBox{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    background-color: #E69B51;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px 0;
    border: 1px solid black;
}
.name{
    background-color: chartreuse;
}
.boxQuadrat{
    display: flex;
    flex-wrap: wrap;
}

.quadrat{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: chartreuse;
}